<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Muli&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<title>LevonArt</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	
	<body>

		<!-- navbar -->
<div id="page-container">

		<div id="nav-placeholder">
			
		</div>

		<nav id="nav-bar" class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
			  <a class="navbar-brand" href="/">LevonArt</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/art">Gallery</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/bio">Bio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact">Contact</a> 
					</li>
					<% if(currentUser){ %>
					<li class="nav-item">
						<a class="nav-link" href="/art/new">Add New Art</a> 
					</li>
					<% } %>
				</ul>
				<hr id="nav-devider">
				<ul class="navbar-nav">
					<% if(currentUser){ %>
					<li class="nav-item"><a class="nav-link" href="#">Signed In as <%= currentUser.username %></a></li>
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
					<% } %>	
				</ul>
				<ul id="nav-social" class="navbar-nav flex-row">
					<li class="nav-item">
						<a class="nav-link" target="_blank" href="https://www.facebook.com/Levon-Gurjinyan-2231524240447941/">
							<i class="fab fa-facebook-square"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" target="_blank" href="https://instagram.com/kingdom.g.l?igshid=MDM4ZDc5MmU=">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="mailto:levongur@gmail.com">
							<i class="fas fa-envelope"></i>
						</a>
					</li>
				</ul>
			  </div>
			</div>
		</nav>