<% include partials/header %>


<div class="container-fluid text-center">
	<h3>
		Bio
	</h3>
	<div id="bio">
		<p>
			Young and upcoming artist from Armenia represents an exhibition of the colourful and extraordinary works with a variety and magnificence of oil paints, clearness and contrast of graphic forms, lightnes of water color works, will be exposed for art fans.
		</p>
		
		<p>
			The work has no certain subject or concept – everything presented are ideas, views and thoughts, values and prospects of a  young and talanted artist, whose uncommon creativity will transfer you to another world, a world of imagination and out of norm ideas of how the past, present, or future looks. Levon's work play's imagination outright. His work got purpose, he says, that is to demonstrate the viewer the incredible ability of our phenomenal consciousness to create unusual images, representations, ideas and to manipulate them in ever-changing ways.
		</p>
		
		<p>
			Levon Gurjinyan was born in 1990 in a beautiful, old and rich with history capital city of Armenia – Yerevan. He started drawing since he was only three years old, and two years in when he was only five years old he joined the Children's Art Center in Yerevan where he fully emersed himself in arts such as drawing, painting, and sculpting. The rich history and cultire of Armenia fascinated Levon and for this very reason the artist devoted many of his works to the colourful country.
		</p>
		
		<p>
			At ten years old Levon move to Russia with his family where he gained an extensive experience. Change of the enviroment from mountainous Armenia to cold Russian flat lands opened whole another dimension in Levon's imagination. In parallel with training at comprehensive school he constantly was engaged in drawing – at first in studio, then at school of arts. After studying at school of arts of M. A. Balakirev, young Levon decided to follow in the footsteps of his father and become an architect, hence from the age of 14 to 16 he focused on graphic design courses at the Moscow Architectural Institute.
		</p>
		
		<p>
			However, his passion to painting, drawing, and graphics developed an even stronger desire to become an artist. After graduating from high school he went on conquest to the Mediterranean island of Malta. Yet another sudden change of the enviroment to a beautiful transparent sea, coastal sun, historical, cultural, and religious monuments dating back to the Neolithic Era up until the reign of the British Empire, all this created a feeling of magnificence and opportunity to unburden his heart through art. Levon graduated from the main institute of arts on Malta - MCAST. Teachers and peers reassured his passion by pointing out his talent and hte unique style in his art.		
		</p>
		
			Levon Gurjinyan participated in numerous exhibitions in Russia, such as "A Bethlehem star", "In search of an image, a form and color", "I love you, Life! ", "Sholokhovsky spring", "A gold brush", "The live earth", personal exhibition "With Russia in Heart". His art had great success at the following exhibitions in Malta: "Draw me life", "Light in Dark" and "Drawing me Mediterranean".
		
		<p>					
			Levon invites you to examine his creativity and be transferred to a world of imagination, push the boundaries of our creativity and to steep to the ocean which is called ART.
		</p>
	</div>
</div>


<% include partials/footer %>