<% include partials/header %>

<div class="container text-center">
	<h3>
		Contact
	</h3>
	
	<div id="contact">
	<p>
		If you would like to <strong>purchase an original copy</strong> of the art, <strong>make a special order</strong>, have any questions or would like to get hold of Levon for any other reason please contact him directly via <a class="contact-link" href="mailto:levongur@gmail.com">email</a>, <a class="contact-link" target="_blank" href="https://www.facebook.com/Levon-Gurjinyan-2231524240447941/">facebook</a>, or <a class="contact-link" target="_blank" href="https://www.instagram.com/levon_art_/">instagram</a>.
	</p>
	</div>
</div>


<% include partials/footer %>