<% include partials/header %>



<div id="gallery" class="container-fluid text-align-center">
	<h3>
		Gallery
	</h3>
	
	<div class="masonryholder">
		<% art.slice().reverse().forEach(function(theArt){ %>
		<div class="masonryblocks">
			<a href="/art/<%= theArt._id %>">
			  <img src="<%= theArt.image %>" class="card-img-top tile-img" alt="<%= theArt.description %>">
			</a>
		</div>
		<% }); %>
	</div>
</div>

<% include partials/footer %>